.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.dashboard-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.dashboard-button:hover {
    transform: translateY(-5px);
}

.dashboard-button a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard-button i {
    font-size: 20px;
}

.select-container {
    position: relative;
}

.select-container::after {
    content: "▼"; /* ใช้สัญลักษณ์ลูกศรลง */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
}
