// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Variables
@import "variables";
// Bootstrap
@import "bootstrap/scss/bootstrap";

body
{
    font-family: $font-family-sans-serif;
    padding-top: 56px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: tomato;
}
.navbar a {
    color: black;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 56px;
    left: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #007bff;
}

.main-content {
    margin-left: 250px;
    padding: 16px;
    transition: margin-left .5s;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar.active {
        width: 250px;
    }

    .main-content.active {
        margin-left: 250px;
    }
}

.toggle-btn {
    font-size: 30px;
    cursor: pointer;
}

hr {
    margin: 10px 0;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.dashboard-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.dashboard-button:hover {
    transform: translateY(-5px);
}

.dashboard-button a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashboard-button i {
    font-size: 20px;
}

.select-container {
    position: relative;
}

.select-container::after {
    content: "▼";
    /* ใช้สัญลักษณ์ลูกศรลง */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
}